<div class="filter">
  <mat-form-field class="filter-input">
    <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value"
            (click)="filter.value=''; applyFilter('');">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<form [formGroup]="form">
  <mat-table [dataSource]="dataSource" matSort mat-elevation-z8 formArrayName="players">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" ></mat-row>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
      <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="firstName">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="phoneNumber">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Country</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="country">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> City</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="city">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="address">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef mat-sort-header> State</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="state">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Zip Code Column -->
    <ng-container matColumnDef="zipCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Zip Code</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="zipCode">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Birth Date Column -->
    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="birthDate" type="date">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Height Column -->
    <ng-container matColumnDef="height">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Height</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="height" type="number">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Weight</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="weight" type="number">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Referenced By Column -->
    <ng-container matColumnDef="referencedBy">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Referenced By</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="referencedBy">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Spouse Full Name Column -->
    <ng-container matColumnDef="spouseFullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Spouse Full Name</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="spouseFullName">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Emergency Contact Column -->
    <ng-container matColumnDef="emergencyContact">
      <mat-header-cell *matHeaderCellDef mat-sort-header>E. Contact</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="emergencyContact">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Emergency Contact Relationship Column -->
    <ng-container matColumnDef="emergencyContactRelationship">
      <mat-header-cell *matHeaderCellDef mat-sort-header> E. Contact Relationship</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="emergencyContactRelationship">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Emergency Contact Phone Column -->
    <ng-container matColumnDef="emergencyContactPhone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> E. Contact Phone</mat-header-cell>
      <mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
        <mat-form-field>
          <input matInput formControlName="emergencyContactPhone">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Actions Column  -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element; let index = index">
        <button mat-icon-button matSuffix aria-label="clear"
                [ngClass]="{'mat-accent': playerForm.controls[index].dirty}"
                (click)="update(element, index)"
                matTooltip="Save changes">
          <mat-spinner [diameter]="20" *ngIf="saving[index]"></mat-spinner>
          <mat-icon *ngIf="!saving[index]">check_circle</mat-icon>
        </button>
        <button mat-icon-button matSuffix aria-label="clear" class="mat-warn" matTooltip="Delete element" (click)="delete(index)">
          <mat-spinner [diameter]="20" *ngIf="deleting[index]"></mat-spinner>
          <mat-icon *ngIf="!deleting[index]">block</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </mat-table>
</form>
