mat-table {
  width: 100%;
}
mat-table mat-row mat-cell, mat-table mat-header-row mat-header-cell{
  white-space:nowrap;
  width: auto;
  font-size: 9px;
}
mat-table mat-header-row mat-header-cell{
  white-space: normal;
}
.filter{
  width:100%;
}
.filter-input{
  width: 100%;
}
mat-spinner
{
  margin: 0 auto;
}
